.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        =@group.name
      .chat-main__header--group-edit-btn
        =link_to "edit", "#"
    .chat-main__header-members
      members
  .chat-main__body
    .chat-main__body--messages-list
      .chat-main__message
        = render partial: 'messages/message', collection: @messages
  .chat-main__footer
    .chat-main__footer-form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'chat-main__footer-body', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

